@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



.subtitleFont {
  font-family: 'Lora', serif;
  font-style: normal;
}
body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-q .mbr-section-title,
#msg-box8-q p {
  color: #fff;
}
#msg-box8-q .mbr-section-title {
  font-size: 30px;
}
#msg-box8-q .lead {
  color: #ffffff;
}
#header3-69 .mbr-section-title,
#header3-69 .mbr-section-subtitle {
  text-align: center;
}
#features3-4w H5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
#footer1-2 P {
  color: #c1c1c1;
}
#header3-s .mbr-section-title,
#header3-s .mbr-section-subtitle {
  text-align: center;
}
#header3-s H3 {
  color: #90a878;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#header3-s .mbr-section-title {
  color: #90a878;
}
#header3-7e .mbr-section-title,
#header3-7e .mbr-section-subtitle {
  text-align: center;
}
#features2-u .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#features2-u .mbr-cards-col:nth-child(even) .card-text {
  font-family: 'Raleway', sans-serif;
}
#header3-7g .mbr-section-title,
#header3-7g .mbr-section-subtitle {
  text-align: center;
}
#testimonials1-73 .mbr-section-title {
  font-size: 30px;
  color: #90a878;
}
#testimonials1-73 .card-footer > small {
  color: #232323;
}
#testimonials1-71 .mbr-section-title {
  font-size: 30px;
  color: #90a878;
}
#testimonials1-71 .card-footer > small {
  color: #000000;
}
#contacts1-p P {
  color: #ffffff;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 0.75rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #000000;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-h .mbr-section-title,
#msg-box8-h p {
  color: #fff;
}
#msg-box8-h .lead {
  color: #ffffff;
}
#msg-box8-h .mbr-section-title {
  font-size: 30px;
}
#header3-6c .mbr-section-title,
#header3-6c .mbr-section-subtitle {
  text-align: center;
}
#footer1-f P {
  color: #c1c1c1;
}
#header3-6t .mbr-section-title,
#header3-6t .mbr-section-subtitle {
  text-align: center;
}
#content6-k UL {
  font-size: 16px;
}
#header3-6q .mbr-section-title,
#header3-6q .mbr-section-subtitle {
  text-align: center;
}
#header3-l .mbr-section-title,
#header3-l .mbr-section-subtitle {
  text-align: center;
}
#header3-l H3 {
  color: #90a878;
}
#features4-m .card-subtitle {
  color: #bcbcbc;
}
#features4-m .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-m H4 {
  color: #000000;
}
#header3-7f .mbr-section-title,
#header3-7f .mbr-section-subtitle {
  text-align: center;
}
#features2-4y .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#contacts1-p P {
  color: #ffffff;
}
#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
}
#menu-16 .link {
  font-size: 0.75rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #c0a375;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #000000;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-14 .mbr-section-title,
#msg-box8-14 p {
  color: #fff;
}
#msg-box8-14 .lead {
  color: #ffffff;
}
#msg-box8-14 .mbr-section-title {
  font-size: 30px;
}
#footer1-17 P {
  color: #c1c1c1;
}
#content6-18 UL {
  font-size: 16px;
}
#header3-6r .mbr-section-title,
#header3-6r .mbr-section-subtitle {
  text-align: center;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}
#header3-19 H3 {
  color: #90a878;
}
#header3-7d .mbr-section-title,
#header3-7d .mbr-section-subtitle {
  text-align: center;
}
#features2-48 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#features2-48 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: left;
}
#features2-48 .mbr-cards-col:nth-child(even) .card-text {
  text-align: left;
}
#contacts1-1c P {
  color: #ffffff;
}
#menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1f .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-1f .navbar-toggler {
  color: #ffffff;
}
#menu-1f .link,
#menu-1f .dropdown-item {
  color: #ffffff;
}
#menu-1f .link {
  font-size: 0.75rem;
}
#menu-1f .dropdown-item,
#menu-1f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1f .link:hover,
#menu-1f .dropdown-item:hover,
#menu-1f .link:focus,
#menu-1f .dropdown-item:focus {
  color: #c0a375;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-menu {
  background: #000000;
}
#menu-1f .nav-dropdown-sm .link:focus,
#menu-1f .nav-dropdown-sm .link:hover,
#menu-1f .nav-dropdown-sm .dropdown-item:focus,
#menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1f .navbar,
#menu-1f .nav-dropdown-sm,
#menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1f .bg-color.transparent.opened .link:hover,
#menu-1f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1f .close-icon::before,
#menu-1f .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-1d .mbr-section-title,
#msg-box8-1d p {
  color: #fff;
}
#msg-box8-1d .lead {
  color: #ffffff;
}
#msg-box8-1d .mbr-section-title {
  font-size: 30px;
}
#footer1-1g P {
  color: #c1c1c1;
}
#content6-1h UL {
  font-size: 16px;
}
#header3-6l .mbr-section-title,
#header3-6l .mbr-section-subtitle {
  text-align: center;
}
#content7-4g UL {
  text-align: left;
}
#contacts1-1l P {
  color: #ffffff;
}
#menu-1o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1o .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-1o .navbar-toggler {
  color: #ffffff;
}
#menu-1o .link,
#menu-1o .dropdown-item {
  color: #ffffff;
}
#menu-1o .link {
  font-size: 0.75rem;
}
#menu-1o .dropdown-item,
#menu-1o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1o .link:hover,
#menu-1o .dropdown-item:hover,
#menu-1o .link:focus,
#menu-1o .dropdown-item:focus {
  color: #c0a375;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-menu {
  background: #000000;
}
#menu-1o .nav-dropdown-sm .link:focus,
#menu-1o .nav-dropdown-sm .link:hover,
#menu-1o .nav-dropdown-sm .dropdown-item:focus,
#menu-1o .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1o .navbar,
#menu-1o .nav-dropdown-sm,
#menu-1o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1o .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1o .bg-color.transparent.opened .link:hover,
#menu-1o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1o .close-icon::before,
#menu-1o .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-1m .mbr-section-title,
#msg-box8-1m p {
  color: #fff;
}
#msg-box8-1m .lead {
  color: #ffffff;
}
#msg-box8-1m .mbr-section-title {
  font-size: 30px;
}
#footer1-1p P {
  color: #c1c1c1;
}
#content6-1q UL {
  font-size: 16px;
  text-align: left;
}
#content6-1q P {
  text-align: left;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#header3-1r H3 {
  color: #90a878;
  font-size: 32px;
}
#header3-6m .mbr-section-title,
#header3-6m .mbr-section-subtitle {
  text-align: center;
}
#features2-4k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#contacts1-1u P {
  color: #ffffff;
}
#menu-26 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-26 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-26 .navbar-toggler {
  color: #ffffff;
}
#menu-26 .link,
#menu-26 .dropdown-item {
  color: #ffffff;
}
#menu-26 .link {
  font-size: 0.75rem;
}
#menu-26 .dropdown-item,
#menu-26 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-26 .link:hover,
#menu-26 .dropdown-item:hover,
#menu-26 .link:focus,
#menu-26 .dropdown-item:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-menu {
  background: #000000;
}
#menu-26 .nav-dropdown-sm .link:focus,
#menu-26 .nav-dropdown-sm .link:hover,
#menu-26 .nav-dropdown-sm .dropdown-item:focus,
#menu-26 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-26 .navbar,
#menu-26 .nav-dropdown-sm,
#menu-26 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-26 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-26 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-26 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-26 .bg-color.transparent.opened .link:hover,
#menu-26 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-26 .link[aria-expanded="true"],
#menu-26 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-26 .close-icon::before,
#menu-26 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-24 .mbr-section-title,
#msg-box8-24 p {
  color: #fff;
}
#msg-box8-24 .lead {
  color: #ffffff;
}
#msg-box8-24 .mbr-section-title {
  font-size: 30px;
}
#footer1-27 P {
  color: #c1c1c1;
}
#content6-28 UL {
  font-size: 16px;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 H3 {
  color: #90a878;
}
#header3-6n .mbr-section-title,
#header3-6n .mbr-section-subtitle {
  text-align: center;
}
#features2-4t .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#contacts1-2c P {
  color: #ffffff;
}
#menu-2x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2x .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-2x .navbar-toggler {
  color: #ffffff;
}
#menu-2x .link,
#menu-2x .dropdown-item {
  color: #ffffff;
}
#menu-2x .link {
  font-size: 0.75rem;
}
#menu-2x .dropdown-item,
#menu-2x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2x .link:hover,
#menu-2x .dropdown-item:hover,
#menu-2x .link:focus,
#menu-2x .dropdown-item:focus {
  color: #c0a375;
}
#menu-2x .link[aria-expanded="true"],
#menu-2x .dropdown-menu {
  background: #000000;
}
#menu-2x .nav-dropdown-sm .link:focus,
#menu-2x .nav-dropdown-sm .link:hover,
#menu-2x .nav-dropdown-sm .dropdown-item:focus,
#menu-2x .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2x .navbar,
#menu-2x .nav-dropdown-sm,
#menu-2x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2x .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2x .bg-color.transparent.opened .link:hover,
#menu-2x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2x .link[aria-expanded="true"],
#menu-2x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2x.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2x .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2x .close-icon::before,
#menu-2x .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2v .mbr-section-title,
#msg-box8-2v p {
  color: #fff;
}
#msg-box8-2v .lead {
  color: #ffffff;
}
#msg-box8-2v .mbr-section-title {
  font-size: 30px;
}
#footer1-2y P {
  color: #c1c1c1;
}
#content6-2z UL {
  font-size: 16px;
}
#contacts1-33 P {
  color: #ffffff;
}

#menu-4n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4n .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-4n .navbar-toggler {
  color: #ffffff;
}
#menu-4n .link,
#menu-4n .dropdown-item {
  color: #ffffff;
}
#menu-4n .link {
  font-size: 0.75rem;
}
#menu-4n .dropdown-item,
#menu-4n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4n .link:hover,
#menu-4n .dropdown-item:hover,
#menu-4n .link:focus,
#menu-4n .dropdown-item:focus {
  color: #c0a375;
}
#menu-4n .link[aria-expanded="true"],
#menu-4n .dropdown-menu {
  background: #000000;
}
#menu-4n .nav-dropdown-sm .link:focus,
#menu-4n .nav-dropdown-sm .link:hover,
#menu-4n .nav-dropdown-sm .dropdown-item:focus,
#menu-4n .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-4n .navbar,
#menu-4n .nav-dropdown-sm,
#menu-4n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4n .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-4n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4n .bg-color.transparent.opened .link:hover,
#menu-4n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4n .link[aria-expanded="true"],
#menu-4n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4n .close-icon::before,
#menu-4n .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-4l .mbr-section-title,
#msg-box8-4l p {
  color: #fff;
}
#msg-box8-4l .lead {
  color: #ffffff;
}
#msg-box8-4l .mbr-section-title {
  font-size: 30px;
}
#footer1-4o P {
  color: #c1c1c1;
}
#content6-4p UL {
  font-size: 16px;
  text-align: left;
}
#content6-4p P {
  text-align: left;
}
#header3-4q .mbr-section-title,
#header3-4q .mbr-section-subtitle {
  text-align: center;
}
#header3-4q H3 {
  color: #90a878;
  font-size: 32px;
}
#header3-6h .mbr-section-title,
#header3-6h .mbr-section-subtitle {
  text-align: center;
}
#features2-4r .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#features2-4r .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-4s P {
  color: #ffffff;
}

#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-5s .navbar-toggler {
  color: #ffffff;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #ffffff;
}
#menu-5s .link {
  font-size: 0.75rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #000000;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-5s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-5s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-5q .mbr-section-title,
#msg-box8-5q p {
  color: #fff;
}
#msg-box8-5q .lead {
  color: #ffffff;
}
#msg-box8-5q .mbr-section-title {
  font-size: 32px;
}
#form1-5w .form-control-label {
  color: #232323;
}
#form1-5w SMALL {
  font-family: 'Montserrat', sans-serif;
}
#form1-5w .mbr-section-title {
  font-size: 30px;
}
#footer1-5t P {
  color: #c1c1c1;
}
#contacts1-68 P {
  color: #ffffff;
}
#menu-65 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-65 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-65 .navbar-toggler {
  color: #ffffff;
}
#menu-65 .link,
#menu-65 .dropdown-item {
  color: #ffffff;
}
#menu-65 .link {
  font-size: 0.75rem;
}
#menu-65 .dropdown-item,
#menu-65 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-65 .link:hover,
#menu-65 .dropdown-item:hover,
#menu-65 .link:focus,
#menu-65 .dropdown-item:focus {
  color: #c0a375;
}
#menu-65 .link[aria-expanded="true"],
#menu-65 .dropdown-menu {
  background: #000000;
}
#menu-65 .nav-dropdown-sm .link:focus,
#menu-65 .nav-dropdown-sm .link:hover,
#menu-65 .nav-dropdown-sm .dropdown-item:focus,
#menu-65 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-65 .navbar,
#menu-65 .nav-dropdown-sm,
#menu-65 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-65 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-65 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-65 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-65 .bg-color.transparent.opened .link:hover,
#menu-65 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-65 .link[aria-expanded="true"],
#menu-65 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-65.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-65 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-65 .close-icon::before,
#menu-65 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-63 .mbr-section-title,
#msg-box8-63 p {
  color: #fff;
}
#msg-box8-63 .lead {
  color: #ffffff;
}
#msg-box8-63 .mbr-section-title {
  font-size: 30px;
}
#footer1-66 P {
  color: #c1c1c1;
}
#content6-67 UL {
  font-size: 16px;
}
#contacts1-68 P {
  color: #ffffff;
}
#menu-76 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-76 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-76 .navbar-toggler {
  color: #ffffff;
}
#menu-76 .link,
#menu-76 .dropdown-item {
  color: #ffffff;
}
#menu-76 .link {
  font-size: 0.75rem;
}
#menu-76 .dropdown-item,
#menu-76 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-76 .link:hover,
#menu-76 .dropdown-item:hover,
#menu-76 .link:focus,
#menu-76 .dropdown-item:focus {
  color: #c0a375;
}
#menu-76 .link[aria-expanded="true"],
#menu-76 .dropdown-menu {
  background: #000000;
}
#menu-76 .nav-dropdown-sm .link:focus,
#menu-76 .nav-dropdown-sm .link:hover,
#menu-76 .nav-dropdown-sm .dropdown-item:focus,
#menu-76 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-76 .navbar,
#menu-76 .nav-dropdown-sm,
#menu-76 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-76 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-76 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-76 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-76 .bg-color.transparent.opened .link:hover,
#menu-76 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-76 .link[aria-expanded="true"],
#menu-76 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-76.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-76 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-76 .close-icon::before,
#menu-76 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-74 .mbr-section-title,
#msg-box8-74 p {
  color: #fff;
}
#msg-box8-74 .lead {
  color: #ffffff;
}
#msg-box8-74 .mbr-section-title {
  font-size: 30px;
}
#footer1-77 P {
  color: #c1c1c1;
}
#header3-79 .mbr-section-title,
#header3-79 .mbr-section-subtitle {
  text-align: center;
}
#header3-79 H3 {
  color: #90a878;
  font-size: 32px;
}
#header3-7a .mbr-section-title,
#header3-7a .mbr-section-subtitle {
  text-align: center;
}
#features2-7b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #266e95;
}
#contacts1-7c P {
  color: #ffffff;
}
